*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  /* background: #20262E; */
  padding: 20px;
  color: #fff;
  font-size: 1.5em;
  font-weight: 500;
}

p {
  color: blue;
}